<form class="row g-3">
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Name</label>
      <input type="text" class="form-control" id="validationDefault01" value="" placeholder="Bulbasaur" required [(ngModel)]="name_Pokemon" name="name_Pokemon">
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Podex Number</label>
      <input type="text" class="form-control" id="validationDefault02" value="" placeholder="N.º001" required [(ngModel)]="pokedexNumber_Pokemon"  name="pokedexNumber_Pokemon">
    </div>

      <div class="col-md-4">
        <label for="formFile" class="form-label">Image</label>
        <input class="form-control" type="file" id="formFile" [(ngModel)]="image_Pokemon" name="image_Pokemon">
      </div>

      <div class="col-md-3">
        <label for="validationDefault03" class="form-label">weight</label>
        <input type="text" class="form-control" id="validationDefault03" placeholder="0.7 m" required [(ngModel)]="weight_Pokemon"  name="weight_Pokemon">
      </div>
  
      <div class="col-md-3">
          <label for="validationDefault04" class="form-label">height</label>
          <input type="text" class="form-control" id="validationDefault04" placeholder="6.9 kg" required [(ngModel)]="height_Pokemon" name="height_Pokemon">
        </div>


      <div class="col-md-3">
        <label for="validationDefault05" class="form-label">category</label>
        <input type="text" class="form-control" id="validationDefault05" placeholder="Semilla" required [(ngModel)]="category_Pokemon" name="category_Pokemon">
      </div>

      <div class="col-md-3">
        <label for="validationDefault06" class="form-label">ability</label>
        <input type="text" class="form-control" id="validationDefault06" placeholder="Espesura" required [(ngModel)]="ability_Pokemon" name="ability_Pokemon">
      </div>
     
      <div class="col-md-6">
        <label for="validationDefault07" class="form-label">type</label>
        <input type="text" class="form-control" id="validationDefault07" placeholder="Planta-Veneno" required [(ngModel)]="type_Pokemon" name="type_Pokemon">
      </div>

           
      
       
      <div class="col-md-6">
        <label for="validationDefault07" class="form-label">debility</label>
        <input type="text" class="form-control" id="validationDefault07" placeholder="Fuego,Psiquico,Volador,Hielo" required [(ngModel)]="debility_Pokemon" name="debility_Pokemon">
      </div>

    
        <label for="validationDefault08" class="form-label">Gender</label>
      <div class="form-check form-check-inline col-md-1">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Male" [(ngModel)]="gender_Pokemon" name="gender_Pokemon">
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>

      <div class="form-check form-check-inline col-md-1">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Female" [(ngModel)]="gender_Pokemon"  name="gender_Pokemon">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>

      <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Both genders" [(ngModel)]="gender_Pokemon" name="gender_Pokemon">
        <label class="form-check-labe3" for="inlineRadio3">Both genders</label>
      </div>


      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Este Pokémon nace con una semilla en el lomo, que brota con el paso del tiempo." rows="3" [(ngModel)]="description_Pokemon" name="description_Pokemon"></textarea>
      </div>
    

  
      <input type="submit" class="btn btn-primary" [value]="btnText" (click)="new_pokemon()">


  </form>
