<div class="context">
    <h1>Hi everybody!</h1>
    <br>
    <p class="aboutme"><b>University degrees:</b> Software Engineering</p> 
    <br>
    <p class="aboutme"><b>Full name:</b> Leonardo Daniel Montiel Martinez</p>  
    <br>
    <p class="aboutme"><b>Subject:</b> Software testing</p>
    <br>
    <p class="aboutme"><b>University:</b> UV</p>
    <br>
    <p class="aboutme"><b>Github repository:</b>https://github.com/DarkCodeUV/lifeGoals</p>
    <br>
    <br><br><br>
    <p class="aboutme">
        This is what I'm all about.
        <a href="" (click)="sendMeHome()"><strong>Take me back</strong></a>
    </p>
</div>
<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<br><br>
<ul>
    
    <li *ngFor="let goal of goals">
        {{ goal }}
    </li>
</ul>
