.container {
    border: 0;
    display: grid;
    grid-template-columns: 80% auto;
   
}
.container-list {
    display: grid;
    grid-template-columns: 100% auto;
}
.col {
    padding: 1em 1.3em;
}
.color-dark {
    background: #1d62e4;
    box-shadow: 2px 2px 2px 1px rgba(170, 167, 167, 0.9);
}
.color-light {
    background: #0b38ff;
    box-shadow: 2px 2px 2px 1px rgba(170, 167, 167, 0.9);

    
}
input.txt {
  border: 0;
  padding: 1em;
  width: 100%;

}

.count-pokemons {
  border: 0px;
  padding: 1em;
}
input.btn {
    background: #fcff36;
    color: #0b38ff;
    cursor: pointer;

    border: 0;
    padding: 1em;
    width: 100%;
}

.life-container {
    background: #161515;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}